<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lasttry">

    <application
        android:allowBackup="true"
        android:icon="@drawable/re"
        android:label="Referral India"
        android:roundIcon="@drawable/re"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserProfile"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".ForgetPassword" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="example.com"
                    android:scheme="https"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash_Screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>